<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>10</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>20</string>
			<key>name</key>
			<string>长大才吃蒜泥白肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>11</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>18</string>
			<key>name</key>
			<string>青年不羁川湘卤鸭</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>12</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>23</string>
			<key>name</key>
			<string>时而想念口水鸡</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>20</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>24</string>
			<key>name</key>
			<string>沙茶肥牛逼格饭</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>21</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>25</string>
			<key>name</key>
			<string>咖喱肥牛逼格饭</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>22</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>26</string>
			<key>name</key>
			<string>黑椒肥牛逼格饭</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>30</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>24</string>
			<key>name</key>
			<string>红油辣椒肥牛饭</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>31</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>26</string>
			<key>name</key>
			<string>青红双椒肥牛饭</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>40</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>12</string>
			<key>name</key>
			<string>年华正好(薄荷柠檬苏打水)</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>41</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>13</string>
			<key>name</key>
			<string>很久以前(百香果水果茶)</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>42</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>13</string>
			<key>name</key>
			<string>那年夏天(薄荷咸柠檬七)</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>50</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>20</string>
			<key>name</key>
			<string>卤个翅膀飞往梦想</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>51</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>21</string>
			<key>name</key>
			<string>花言巧语香卤猪舌</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>52</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>22</string>
			<key>name</key>
			<string>肥而不腻香醇卤肉</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>53</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>17</string>
			<key>name</key>
			<string>青春不朽香醇卤鸭</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>54</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>22</string>
			<key>name</key>
			<string>我想和你比翼双飞</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>60</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>7</string>
			<key>name</key>
			<string>放学门外土豆花</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon.jpg</string>
			<key>id</key>
			<string>61</string>
			<key>num</key>
			<string>0</string>
			<key>price</key>
			<string>8</string>
			<key>name</key>
			<string>青春盎然裙带菜</string>
		</dict>
	</array>
</array>
</plist>
